In [1]:
#1
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print("Woof!", self.name)

my_dog = Dog("Buddy")
my_dog.bark()

Woof! Buddy

In [2]:
def greet(name, age=30):
    print("Hello,", name)
    print("You are", age, "years old.")
greet("Alice", 25)
greet(age=35, name="Bob")
greet("Charlie")
def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

result = sum_numbers(1, 2, 3, 4, 5)
print(result)

Hello, Alice
You are 25 years old.
Hello, Bob
You are 35 years old.
Hello, Charlie
You are 30 years old.
15

In [3]:
#3
def function_name(parameters):
    """Docstring: A brief description of the function"""
    return value  # Optional return statement

In [4]:
def greet(name, greeting="Hello"):
    print(greeting, name)

greet("Bob")  # Uses default greeting
greet("Charlie", "Hi")  # Overrides default greeting

Hello Bob
Hi Charlie

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5)

In [6]:
square = lambda x: x * x
result = square(5)

In [7]:
#4
def add_numbers(x, y):
    """Adds two numbers and returns the sum."""
    sum = x + y
    return sum

result = add_numbers(5, 3)
print(result)

8

In [11]:
#6
def my_generator():
    yield 1
    yield 2
    yield 3

In [12]:
def fibonacci_generator(limit):
    a, b = 0, 1
    while a < limit:
        yield a
        a, b = b, a + b

for num in fibonacci_generator(10):
    print(num)

0
1
1
2
3
5
8

In [13]:
#7
#Memory Efficiency:

#Generators produce values on-the-fly, one at a time. This means they don't need to store the entire sequence in memory at once.
#This is especially beneficial for large datasets or infinite sequences, as it prevents memory overflow.
#Lazy Evaluation:

#Generators only compute values when they are explicitly requested.
#This can lead to significant performance improvements, especially for complex calculations or I/O-bound operations.
#Simplified Code:

#Generators often lead to more concise and readable code, especially for iterative tasks.
#The yield keyword simplifies the process of generating sequences, making the code more intuitive.
#Infinite Sequences:

#Generators can easily handle infinite sequences, such as Fibonacci numbers or prime numbers.
#This is not possible with regular functions, which would require storing the entire sequence in memory.
#Custom Iterators:

#Generators allow you to create custom iterators for various data structures and algorithms.
#This provides more flexibility and control over the iteration process.

In [14]:
#8
names = ['Alice', 'Bob', 'Charlie', 'David']
sorted_names = sorted(names, key=lambda x: len(x))
print(sorted_names)  # Output: ['Bob', 'Alice', 'David', 'Charlie']

['Bob', 'Alice', 'David', 'Charlie']

In [15]:
my_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = sorted(my_dict.items(), key=lambda x: x[1])
print(sorted_dict)

[('b', 1), ('c', 2), ('a', 3)]

In [16]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4]

In [17]:
#9
numbers = [1, 2, 3, 4, 5]


def square(x):
    return x * x


squared_numbers = map(square, numbers)


squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)

[1, 4, 9, 16, 25]

In [18]:
#10
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x*x, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [19]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x+y, numbers)
print(sum_of_numbers)

15

In [20]:
#11
from functools import reduce

numbers = [47, 11, 42, 13]
result = reduce(lambda x, y: x + y, numbers)
print(result)

113

In [21]:
#Practical Questions:
#1
def sum_even_numbers(numbers):
  """Calculates the sum of even numbers in a list.

  Args:
    numbers: A list of numbers.

  Returns:
    The sum of even numbers in the list.
  """

  even_sum = 0
  for num in numbers:
    if num % 2 == 0:
      even_sum += num
  return even_sum

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = sum_even_numbers(my_list)
print(result)

30

In [22]:
#2
def reverse_string(string):
  """Reverses a given string.

  Args:
    string: The input string.

  Returns:
    The reversed string.
  """

  reversed_string = ""
  for char in string:
    reversed_string = char + reversed_string
  return reversed_string

In [23]:
input_string = "hello world"
output_string = reverse_string(input_string)
print(output_string)

dlrow olleh

In [24]:
#3
def square_list(numbers):
  """Squares each number in a list.

  Args:
    numbers: A list of numbers.

  Returns:
    A new list containing the squares of the input numbers.
  """

  squared_numbers = []
  for num in numbers:
    squared_numbers.append(num * num)
  return squared_numbers

In [25]:
my_list = [1, 2, 3, 4, 5]
result = square_list(my_list)
print(result)

[1, 4, 9, 16, 25]

In [26]:
#4
def is_prime(num):
  """Checks if a given number is prime.

  Args:
    num: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """

  if num <= 1:
    return False
  if num <= 3:
    return True
  if num % 2 == 0 or num % 3 == 0:
    return False

  i = 5
  while i * i <= num:
    if num % i == 0 or num % (i + 2) == 0:
      return False
    i += 6

  return True

In [27]:
for num in range(1, 201):
  if is_prime(num):
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [28]:
#5
class FibonacciIterator:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.n:
            raise StopIteration

        self.count += 1
        self.a, self.b = self.b, self.a + self.b
        return self.a - self.b

In [29]:
n = 10
fib_iter = FibonacciIterator(n)
for num in fib_iter:
    print(num)

0
-1
-1
-2
-3
-5
-8
-13
-21
-34

In [30]:
def powers_of_two(exponent):
    """Generates powers of 2 up to a given exponent.

    Args:
        exponent: The maximum exponent.

    Yields:
        The next power of 2.
    """

    power = 1
    for i in range(exponent + 1):
        yield power
        power *= 2

In [31]:
for power in powers_of_two(5):
    print(power)

1
2
4
8
16
32

In [36]:
def read_file_lines(filename):
    """Reads a file line by line and yields each line as a string.

    Args:
        filename: The name of the file to read.

    Yields:
        The next line from the file.
    """

    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

In [37]:
#8
my_list = [(1, 3), (4, 2), (2, 5)]

# Sort the list based on the second element of each tuple
sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)  # Output: [(4, 2), (1, 3), (2, 5)]

[(4, 2), (1, 3), (2, 5)]

In [38]:
#9
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

temperatures_celsius = [0, 10, 20, 30, 40]
temperatures_fahrenheit = list(map(celsius_to_fahrenheit, temperatures_celsius))

print(temperatures_fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [39]:
#10
def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda char: char not in vowels, string))

# Example usage:
string = "Hello, World!"
result = remove_vowels(string)
print(result)  # Output: Hll, Wrld!

Hll, Wrld!

In [40]:
#11
def calculate_order_totals(orders):
    """Calculates the total price for each order, adjusting for small orders.

    Args:
        orders: A list of tuples, where each tuple contains an order number,
                price per item, and quantity.

    Returns:
        A list of tuples, where each tuple contains the order number and the
        adjusted total price.
    """

    def calculate_total(order):
        order_num, price, quantity = order
        total = price * quantity
        if total < 100:
            total += 10
        return order_num, total

    return list(map(calculate_total, orders))

In [41]:
orders = [(1, 10, 5), (2, 20, 3), (3, 5, 15)]
result = calculate_order_totals(orders)
print(result)  # Output: [(1, 60), (2, 60), (3, 85)]

[(1, 60), (2, 70), (3, 85)]